:root {
    --main-color: #E8D280;
    --first-color:#433F63;
    --second-color:#B55E2E;
    --third-color:white;
    --fourth-color:#611910;
  }
  body{
      background-color: var(--main-color);
}
#links{
    width: 900px;
    margin: 20px auto;
    font-weight: 700;
    
}

#links a{
    font-size: 20px;
    text-decoration: none;
    color: var(--first-color);
}
#links a:hover {
    color: var(--second-color);
}

#links a:active {
    color: var(--fourth-color);
}

h1{
    font-size: 54px;
    text-align: center;
    color: var(--first-color);
    background-color: var(--third-color);
    padding: 20px 0;
    border-radius: 7px;
}


.wrapper{
    width: 900px;
    height: auto;
    background-color: var(--second-color);
    color: var( --third-color);
    margin: 40px auto;
    padding: 25px 20px;
    border-radius: 7px;
    
    line-height: 1.5;
}
p, .mail{
    margin: 50px 40px;
    font-size: 18px;
}

img{
    width: 600px;
    margin: 0 auto;
}

.description{
    color: var(--fourth-color);
    margin: 5px 0 15px 135px;
    font-weight: 700;
}

.mailTo{
    color: var(--fourth-color);
    text-decoration: none;
    font-weight: 700;
}